.burger {

    position: relative;
    width: 17px;
    height: 10px;

    &__wrapper {
        position: absolute;
        right: 0;
        top: 50%;
        display: none;
        transform: translateY(-50%);
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 38px;
        background-color: #000;
    }

    & span {
        position: absolute;
        background-color: #fff;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 17px;
        height: 2px;  
    }

    &:before,
    &:after {
    content: '';
        background-color: #fff;
        position: absolute;
        width: 17px;
        height: 2px;
        transition: all .2s ease;
    }

    &:before {
        top: 0;
    }

    &:after {
        bottom: 0;
    }

    &.active span {
        display: none;
    }
    
    &.active:before {
        top: 50%;
        transform: rotate(45deg);
    }
    
    &.active:after {
        top: 50%;
        transform: rotate(-45deg);
    }

    @media (max-width:$MD) {

        // &__wrapper {
        //    display: flex;
        // }
    }
}

