.header {
    background-image: url("../img/header/header_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    @media (max-width: $XS) {
        justify-content: normal;
        position: relative;
    }
}

.header--background-color{
    width: 100%;
    @media (max-width : $LG) {
        background-color: rgba(39, 38, 42, 1);
        height: 118px;
    }
    @media (max-width: $XS) {
        max-height: 104px;
    }
}

.header__logo-wrapper {
    display: flex;
    align-items: center;
    gap: 17px;
    &:hover{
        color: $color-white;
    }
    &:hover .header__logo-image--white{
        display: block;
    }
}

.header_logo-image {
    position: relative;
}
.header__logo-image--white {
    position: absolute;
    display: none;
}

.header__logo-text {
    font-family: $secondary-font-name;
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    text-transform: uppercase;
    @media (max-width : $XS) {
        display: none;
    }
}

.header-navbar {
    display: flex;
    align-items: center;
    gap: 48px;
}

.header-navbar__list {
    display: flex;
    gap: 2.875em;
    flex-grow: 1;
    @media (max-width : $LG) {
        @include positionCenter;
        top: 90px;
    }
    @media (max-width : $SM) {
        gap: 20px;
        max-width: 500px;
    }

    @media (max-width: $XS) {
        margin-bottom: 0;
        background-color: rgba(51, 51, 51, 1);
        width: 90%;
        position: absolute;
        top: 278px;
        right: 0;
        display: none;
        &--active {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
             gap: 6px;
             align-items: flex-start;
       }
    }
}

.header-navbar__list-item{
    @media (max-width: $XS) {
       padding: 29px 0 21px 35px;
       position: relative;
       width: 100%;
       border-bottom: 1px solid rgba(59, 59, 59, 1);
    }
}

.header-navbar__links {
    font-weight:  700;
    font-size: $default-font-size;
    color: $color-purple-ligth;
    white-space: nowrap;
    &:hover{
        color: $color-white;
    }

    @media (max-width : $XS) {
        
        font-weight: 400;
        font-size: 26px;
        color: $color-white;
        &:focus {
            color: $color-purple-ligth;
            &::before{
                content: "";
                position: absolute;
                left: 5px;
                top: calc(50% - 26px);
                display: block;
                height: 53px;
                width: 8px;
                background-color: rgba(141, 129, 172, 1);
            }
        }
    }
}

.primary-btn {
    font-weight: 700;
    font-size: $default-font-size;
    line-height: 17px;
    color: $color-white;
    border: 1px solid $color-purple-ligth;  
    border-radius: 20px;
    background-color: $color-purple-ligth; 
    padding: 10px 35px;
    white-space: nowrap;
    &:hover{
        color: $color-purple-ligth;
        background-color: $color-white;
    }
}

.primary-btn__navbar--position{
    @media (max-width: $XS) {
        position: absolute;
        top: 54px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.header-tittle {
    font-weight: 700;
    font-size: 82px;
    line-height: 82px;
    text-align: center;
    color: $color-white;
    margin-top: 112px;
    @media (max-width: $MD) {
        font-size: 72px;
        margin-top: 68px;
    }
    @media (max-width : $MD_width) {
        font-size: 42px;
    }
}

.header-subtittle {
    font-family: $secondary-font-name;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 19px;
    @media (max-width: $MD) {
        font-size: 24px;
    }
    @media (max-width : $MD_width) {
        font-size: 18px;
        text-transform: capitalize;
        margin-top: 0;
    }
}

.header-version-text {
    font-weight: 400;
    font-size: $default-font-size;
    line-height: 16px;
    color: $color-primary-light;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    padding-bottom: 459px;
    @media (max-width: $MD) {
        font-size: 14px;
        margin-top: 14px;
    }
}

.burger-icon{
    width: 44px;
    height: 37px;
	position: absolute;
    right: 0;
    z-index: 6;
    display: none;
    @media (max-width: 480px) {
        display: inline-block;
        
    }
}

.burger-icon__line {
    width: 26px;
	height: 3px;
	position: absolute;
	top: 50%;
	left: 50%;
    border-radius: 30%;
	transform: translate(-50%, -50%);
	background-color: #ffffff;
    transition: 0.2s linear;
    
    &:nth-of-type(2) {
        left: 65%;
        top: calc(50% - 5px);
        width: 13px;
    }
    &:nth-of-type(3) {
        top: calc(50% + 5px);
    }
}

.burger-icon__line--active {
    border-radius: 0%;
    &:nth-of-type(1) {
        display: none;
      }
      &:nth-of-type(2) {
        width: 26px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);  
      }
      &:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg); 
      }
}

.header__bottom-part{
    position: relative;
}

.primary-btn__header--position{
    font-size: 21px;
    padding: 1.4rem 3.84rem;
    white-space: nowrap;
    position: absolute;
    border-radius: 34px;
    left: 50%;
    transform: translate(-50%, -50%);

        @media (max-width: $XS) {
            font-size: 18px;
            padding: 13px 29px;
        }
}

.header-footer__text{
    font-size: $small-font-size;
    white-space: nowrap;
    color: rgba(132, 142, 151, 1);
    margin-top: 50px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}